.boardContainer {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.boardRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
